{% extends "ecom/base.html" %}

{% block content %}


    <!-- Product List Section -->
    <div class="container mt-4">
        <div class="row">
            <!-- Product Card 1 -->
            {% for p in products %}
            <div class="col-md-4">
                <div class="card product-card">
                    <img src="{{p.image.url}}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <p class="card-text"><strong>${{p.price}}</strong></p>
                        <a href="{% url 'ecom:shop' %}{{p.slug}}" class="btn btn-primary">Product Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}