{% extends "base/base.html" %}

{% block content %}
<div class="mn" id="mn">
    <h2 style="color: green;">CGPA calculator</h2>
    <br>

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Add Subject</button>
        <button><a href="{% url 'cgpa:result' %}">Generate Results</a></button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
                <th>Credit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td style="font-family: 'Times New Roman', Times, serif;">{{subject.name}}</td>
                <td style="font-family: 'Times New Roman', Times, serif;">{{subject.grade}}</td>
                <td style="font-family: 'Times New Roman', Times, serif;">{{subject.credit}}</td>
                <td>
                    <a href="{% url 'cgpa:edit_sub' subject.pk %}">Update</a>
                    <a href="{% url 'cgpa:delete' subject.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 style="font-family: 'Times New Roman', Times, serif;">CGPA: <span id="cgpa">{{cgpa}}</span></h3>
    
</div>


<br>
<button onclick="myfun('mn')" type="button" class="btn btn-success btn1">Print CGPA</button>

<script type="text/javascript">
    function myfun(mn){
        let d = document.getElementById(mn).innerHTML;
        document.body.innerHTML = d;
        window.print();
    }
</script>
{% endblock %}