{% extends "base/base.html" %}

{% block content %}
<style>
    .ok{
        color: white;
        text-decoration: none;
      }
      .ok:hover{
        color: white;
        text-decoration: none;
      }
     
    </style>
    
    <div class="container-3 col-6">
        <br><br>
        <form method="POST" class="col-6 mx-auto card p-3 shadow-lg" inctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="text-center">Create Recipe</h3>
            <hr>

            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="description">
                    <textarea name="description" id="description" rows="5" cols="35"></textarea>
                </label>
            </div>

            <button type="submit">Add Recipe</button>
        </form>

        <hr>

        <div class="class mt-5">
            
            <table class="table mt-6">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{recipe.title}}</td>
                        <td>{{recipe.description}}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'recipe:update_recipe' recipe.pk %}" role="button">Update</a>
                            <a class="btn btn-danger" href="{% url 'recipe:delete_recipe' recipe.pk %}" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}