{% extends "base/base.html" %}

{% block content %}
<br><br><br>

<div class="container bg-white col-md-2 card shadow p3" id="log">
    <div class="login-form">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-4">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <h4>Login</h4>
            <div class="">
                <input type="text" name="username" id="username" placeholder="UserName">
            </div>
            <div class="mt-2">
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <div class="mt-2">
                <button>Login</button>
            </div>
            <br>

        </form>
        <p><a href="#">Create An Account</a></p>
    </div>
</div>
{% endblock %}