{% extends "core/base.html" %}

{% block content %}
<h3 class="text-center">Reading Now</h3>

<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-2 col-sm-12">
                <div class="card">
                    <img src="" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem aliquam ipsam nulla soluta dolorem aspernatur nostrum optio dolor esse, cum fuga vel? Cumque vitae assumenda, soluta ipsum nobis velit quo!</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}